*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/
.gradle/
build/
.kotlin/*
local.properties
/feature/appUpdate/build/*
/feature/appUpdate-api/build/*
/feature/creatorPost/build/*
/feature/creatorPost-api/build/*
/feature/creatorProfile/build/*
/feature/creatorProfile-api/build/*
/feature/creators/build/*
/feature/creators-api/build/*
/feature/posts/build/*
/feature/posts-api/build/*
/feature/profile/build/*
/feature/profile-api/build/*
/feature/videoPlayer/build/*
/feature/common/commonScreen/build/*
/feature/common/commonScreen-api/build/*
/common/build/*
/core/build/*
/core-api/build/*
/storage/build/*
/navigation/build/*
/navigation-api/build/*
/storage-api/build/*
/core-domain/build/*